@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat&family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}

a, p, h1, h2, h3, h4, h5, h6 {
    color: #dfdfdf;
    text-decoration:none;
}

body {
    background-color: #dfdfdf;
    justify-content: center;
    
    /*
    width: 80rem;
    height: auto;
    */
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/

    /*background-color: #fff;
    height: auto;
    width: 60rem;
    */
    box-shadow: 0 0 20px rgba (0, 0, 0, 0.4);
    margin: auto;
    margin-top: 1em;
    /*border-radius: 5rem;*/
}

header {
    background-color: black;
    display: flex;
    justify-content: center;
    height: auto;
    box-shadow: 0 0 20rem rgba (0, 0, 0, 0.4);
    padding: 2rem;
    /*border-radius:25px;*/
}

.logos {
    height: 5em;
    width: auto;
}

main {
    background: linear-gradient(black, #666);
}
main div {
    align-items: center;
    
}

main div h1 {
    color: darkorange;
}

main div h5 {
    color:#e0b386;
    text-align: end;
    padding-right: 2em;

}

main div h4 {
    color: #dfdfdf;
    

}

main ul li {
    display: flex;
    justify-content: center;
}

h1 {
    color: darkorange;
    text-align: center;
}

h2 {
    color: darkorange;
    text-align: center;
}

h4 {
    color:dimgrey;
    text-align: center;
}

h5 {
    color: rgb(3, 102, 104);
}

.item {
    color:#1f1f1f;
    padding: none;
}

button {
    background-color: #3D7D91;
    color: aliceblue;
    justify-content:space-between; 
    height: 3rem;
    width: 20rem;
    border-color: transparent;
    box-shadow: 0 0 3rem rgba (0, 0, 0, 0.4);
    margin: auto;
    margin-top: 1em;
    border-radius:25px;
}
button:hover {background-color:orange}

button:active {
  background-color:orange;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
ul {
    list-style: none;
}

.deco {
    height: 20rem;
    width: auto;
}

.decorativos {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}
.decorativos li div {
    margin-left: 1em;
    margin-top: 1em;
    border: transparent;
}
.decorativos img {
    padding: 1em;
}

.cerra {
    background: linear-gradient(#666, #bebebe);
    text-align: center;
    padding-bottom: 2em;
}
.cerra div h4 {
    color: #dfdfdf;
    padding-top: 1em;
    margin-left: 1em;
    
    text-align: center;
}

.cerramientos img {
    height: 16em;
    width: auto;
    padding: 1em;
}

.cerramientos div ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    }

.cerramientos div ul li p {
    justify-content: center;
    flex: content;
    text-align: center;
}
.cerramientos div ul li {
    margin-left: 1em;
    margin-top: 1em;
    border: transparent;
}
.cat {
    padding: 2rem;
}

.catalogo {
    width: 100%;
    height: auto;
    text-align: center;
}

.catalogo a {
    padding: 1rem;
}

.catalogo h2 {
    color: orange;
}
.cat-p {
    padding-top: 2rem;
}

.card {
    background-color: #dfdfdf;
    border-color: transparent;
 }
.opcionales {
    padding: 2rem;
}

.opcionales h2 {
    color: orange;
}

footer {
    background-color: #444444;
    color: #dfdfdf;
    padding: 20px 0;
  }
  
  footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  footer li {
    margin: 0 10px;
  }
  
  footer img {
    height: 10rem;
    /*max-height: 100%;*/
    vertical-align: middle;
  }

footer h5 {
    color: aliceblue;
}

footer th {
    padding: 5px;
    justify-content: initial;
}

.wasap {
    height: 2em;
    width: auto;
}

.row {
    display: inline-block;
    align-content: center;
    justify-content: space-between;
}
  
div.gallery img {
    width: auto;
    height: 15rem;
  }
/* Estilos para hacer el diseño responsive */
@media screen and (max-width: 600px) {
    section {
        padding: 10px;
    }
    img {
        max-width: 100%;
    }
    }


  