@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat&family=Poppins:wght@400;500;600&display=swap');


/*
PALETA DE COLORES
KEA {
    color: #9b9b97;
    color: #e0b386;
}
ZYX {
    color: #e67d14;
    color: #474747;
    color: #444444;
    color: #303030;
    color: #aaa8a9;
    color: #bebebe;
    color: #dfdfdf;
}
*/


/**/
/*RESET****************************************************/
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
a {
    text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
    color: #E0D1C2;
    text-decoration:none;
}

h1 {
    font-size: 2em; /* Por ejemplo, tamaño de fuente 2 veces el tamaño predeterminado */
  }

body {
    background-color: #dfdfdf;
    justify-content: center;
    
    /*
    width: 80rem;
    height: auto;
    */
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/

    /*background-color: #fff;
    height: auto;
    width: 60rem;
    */
    box-shadow: 0 0 20px rgba (0, 0, 0, 0.4);
    margin: auto;
    margin-top: 1em;
    /*border-radius: 5rem;*/
}

header {
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    height: auto;
    box-shadow: 0 0 20rem rgba (0, 0, 0, 0.4);
    padding: 2rem;
    /*border-radius:25px;*/
}

.logos {
    height: 5em;
    width: auto;
}

main {
    background: linear-gradient( #FAFAFA, #dfdfdf);
}
main div {
    align-items: center;
    
}

.title {
    color: #e0b386;
    text-align: center;
    font-size: 3em;
    line-height: 1;
   /* padding-right: 2em;*/
    text-shadow: 0 3px 3px #333, 0 -3px 3px goldenrod;
    margin:0;
    padding: 0;

}

main div h4 {
    color: #8B8279;
    

}

main ul li {
    display: flex;
    justify-content: center;
}

h4 {
    color:#9b9b97;
    text-align: center;
}

.item {
    color:#1f1f1f;
    padding: none;
}

.catalogo button {
    background-color: #FF7777;
    color: aliceblue;
    justify-content:space-between; 
    height: 3rem;
    width: 75%;
    border-color: transparent;
    box-shadow: 0 0 3rem rgba (0, 0, 0, 0.4);
    margin: auto;
    margin-top: 1em;
    border-radius:25px;
}
button:hover {background-color:#e0b386}

button:active {
  background-color:#e0b386;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
ul {
    list-style: none;
}

.deco {
    height: 20rem;
    width: auto;
}

.decorativos {
    list-style-type: none;
    border: transparent;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

/*.decorativos li div {
    margin-left: 1em;
    margin-top: 1em;
    border: transparent;
}
*/
.decorativos img {
    padding: 1em;
}

.cerra {
    background: linear-gradient( #dfdfdf, #E09487, #FF7777/* */);
    text-align: center;
    padding-bottom: 2em;
}
.cerra div h4 {
    color: #dfdfdf;
    padding-top: 1em;
    margin-left: 1em;
    
    text-align: center;
}
.cerramientos {
    padding-top: 2em;
}
.cerramientos img {
    height: 16em;
    width: auto;
    padding: 1em;
}

.cerramientos div ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    }

.cerramientos div ul li p {
    justify-content: center;
    flex: content;
    text-align: center;
}
.cerramientos div ul li {
    margin-left: 1em;
    margin-top: 1em;
    border: transparent;
}
.cat {
    padding: 2rem;
}

.catalogo {
    width: 100%;
    height: auto;
    text-align: center;
}

.catalogo a {
    padding: 1rem;
}

.catalogo h2 {
    color: #e0b386;
}
.cat-p {
    padding-top: 2rem;
}

.card {
    background-color: #dfdfdf;
    border: transparent;
    margin-left: 1rem;
 }

.card img {
        max-width: auto;
        max-height: 100%;
}
      
 .opcionales {
    padding: 2rem;
}

.opcionales h2 {
    color:#FF7777;
    text-align: center;
}

footer {
    background-color: #1b0d0d;
    color: #dfdfdf;
    padding: 20px 0;
  }
  
  footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  footer li {
    margin: 0 2rem;*/
  }
  
  footer img {
    height: 100%;
    /*max-height: 100%;*/
    
  }

footer h5 {
    color: aliceblue;
}

footer button {
    background-color: #e0b386;
    color: aliceblue;
    justify-content:space-between; 
    height: 3rem;
    width: 150%;
    border-color: transparent;
    box-shadow: 0 0 3rem rgba (0, 0, 0, 0.4);
    /*margin: auto;*/
    margin-top: 1em;
    border-radius:15px;
}
footer button:hover {
    background-color: #FF7777;
}


.tel {
    margin: 0;
    padding: 1rem, 0;

}

footer a {
    color: #e0b386;
    text-decoration: none;
    font-weight: bold;
}

footer p:hover {color:#FF7777}

footer p:active {
  color:#FF7777;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.wasap {
    height: 2em;
    width: auto;
    margin-bottom: 0.5rem;
}

.row {
    display: inline-block;
    align-content: center;
    justify-content: space-between;
}

/* Estilos para hacer el diseño responsive */
@media screen and (max-width: 600px) {
    section {
        padding: 10px;
    }
    img {
        max-width: 100%;
    }
    }

    /* Para pantallas de hasta 800px de ancho */
@media (max-width: 800px) {
    /* Estilos CSS para dispositivos móviles */
  }
  
  /* Para pantallas más grandes de 800px hasta 1024px */
  @media (min-width: 801px) and (max-width: 1024px) {
    /* Estilos CSS para tabletas y pantallas más grandes */
  }